@inherits SBSViewPage<Yojowa.StopByStop.Web.Models.PoiGroupModel>


@{
    Layout = "~/Client/Views/Shared/_NonHomeLayout.cshtml";
    ViewBag.Title = Model.PoiGroupType + " on " + Model.RouteJunction.Junction.Name + " on the way from " + Model.FromLocation.PlaceDescription + " to " + Model.ToLocation.PlaceDescription;
    ViewBag.UITitle = Model.FromLocation.PlaceDescription + " to " + Model.ToLocation.PlaceDescription;
    ViewBag.PageName = "poigroup-page";
    if (Model.Pois.Length < 2)
    {
        ViewBag.Description = string.Format("There is one {0} within 5 mile radius from {1} on the way from {2} to {3}: {4}",
            Model.PoiGroupType,
            Model.RouteJunction.Junction.Name,
            Model.FromLocation.PlaceDescription,
            Model.ToLocation.PlaceDescription,
            Model.ClosestPoi.Poi.Name);
    }
    else
    {
        ViewBag.Description = string.Format("There are {0} {1} within 5 mile radius from {2} on the way from {3} to {4}. {5}",
        Model.Pois.Length,
        Model.PoiGroupType,
        Model.RouteJunction.Junction.Name,
           Model.FromLocation.PlaceDescription,
           Model.ToLocation.PlaceDescription,
           Model.Pois.Length > 0 ?
           string.Format("The closest one is {0} ({1} miles from junction).",
           Model.ClosestPoi.Poi.Name,
           Model.ClosestPoi.DistanceFromJunction) : "");
    }

    ViewBag.UIDescription = string.Format("{0}. {1} {2} within 5 mile travel distance.", Model.RouteJunction.Junction.Name, Model.Pois.Length, Model.PoiGroupType);
    var poiTableAndMapModel = new Yojowa.StopByStop.Web.Models.PoiListModel(
        Model.RouteJunction,
        Model.Pois,
        Model.PoiType,
        Model.RoutePathId);

    ViewBag.TelemetryPageName = "POIGroup";
    ViewBag.RenderGMap = true;
}

@section BreadcrumbLinks
{
    <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
        <a data-ajax="false" itemprop="item" href="@Href("~/route/" + Model.RoutePathId)">
            <span itemprop="name">@(Model.FromLocation.PlaceDescription + " to " + Model.ToLocation.PlaceDescription)</span>
        </a>
    </li>
    <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
        <a data-ajax="false" itemprop="item" data-ajax="false" href="@Href("~/route/" + Model.RoutePathId + "/exit/osm-" + Model.RouteJunction.Junction.OSMID)">
            <span itemprop="name">@Model.RouteJunction.Junction.Name</span>
        </a>
    </li>
}

@Html.Partial("~/Client/Views/Shared/_POITableAndMap.cshtml", poiTableAndMapModel)

@section Scripts
{
    @Html.Partial("~/Client/Views/Shared/_POITableAndMap_SCRIPTS.cshtml", poiTableAndMapModel)
}
