@model Yojowa.StopByStop.Web.Models.PoiListModel

<div class="pois-list">
    <fieldset class="view-mode-switch" data-role="controlgroup" data-type="horizontal" style="float:none;text-align:center;">
        <input type="radio" name="view-mode-radio-choice-2" id="view-mode-radio-choice-21" value="list" checked="checked" />
        <label for="view-mode-radio-choice-21">List view</label>

        <input type="radio" name="view-mode-radio-choice-2" id="view-mode-radio-choice-22" value="map" />
        <label for="view-mode-radio-choice-22">Map view</label>
    </fieldset>


    @helper RenderPoiInList(bool showCategories)
    {
    <div class="poi-table-row">
        <div class="poi-table-cell poi-details-cell">
            <a href="#" data-rel="popup" data-transition="slidedown" data-position-to="origin"
               class="ui-btn ui-corner-all poi-table-cell-link sbs-navigate-btn"
               style="text-align:left;"
               data-bind="click:addToRouteOptionsClick, attr:{'data-lat':poi.location.lat,'data-lon':poi.location.lon}">

                <div class="poi_placename" itemscope="itemscope" itemtype="http://schema.org/LocalBusiness"><span itemprop="name" data-bind="text:poi.name"></span></div>

                @if (showCategories)
                {
                    <div class="poi_details" style="font-size:small;" data-bind="foreach: poi.poiCategoryIDs">
                        <span class="poi-cat" data-bind="text: $root.filter.getCategoryName($data)"></span>
                    </div>
                }

                <div class="poi_details" style="font-size:small;" data-bind="html:distanceFromJunctionText"></div>
                <img src="@RenderHelper.GetCDNUrl("/client/content/v1/icons/add_to_route.png")" class="poi-table-cell-go" alt="Add to route" />
            </a>
        </div>
        <div class="poi-table-cell poi-yelp-cell">
            <a href="#" data-bind="attr:{href:poi.yUrl}" class="ui-btn ui-corner-all poi-table-cell-link yelp-link" target="_blank">                
                <div><img class="review-provider-icon" src="https://s3-media4.fl.yelpcdn.com/assets/srv0/developer_pages/7e704c57a423/assets/img/yelp_logo_75x38.png" alt="Yelp" /></div>
                <div data-bind="visible: poi.isYInfoLoading" class="poi-yelp-loading" title="Yelp information loading..."></div>

                <div data-bind="visible: !poi.isYInfoLoading()">
                    <div class="rating-small poi-rating">
                        <i data-bind="css:'star-img '+poi.yStarClass()"></i>
                    </div>
                    <div class="poi-rating-count" data-bind="html:poi.yReviewCountString"></div>
                </div>
            </a>
        </div>
        <div class="poi-table-cell poi-phone-cell call-icon">
            <a data-bind="attr:{href:'tel:'+poi.telPhoneString}" class="ui-btn ui-corner-all poi-table-cell-link yelp-link call_map_title" target="_blank">
                <img src="@RenderHelper.GetCDNUrl("/client/content/v1/icons/phone2.png")" class="poi-phone" alt="Call" />
            </a>
        </div>
    </div>
}

    <div class="poi-table" data-bind="foreach: routeJunction.visibleFoodPois">
        @RenderPoiInList(true)
    </div>
    <div class="poi-table" data-bind="foreach: routeJunction.visibleGasPois">
        @RenderPoiInList(false)
    </div>
    <div class="poi-map">
        <div id="map" style="width:100%;clear:both"></div>
    </div>
</div>

<div style="display:none">
    <div id="poiPopupTemplate">
        <div class='poi-popup' style='width:185px;height:105px;overflow:auto; position:relative;'>
            <div class='poi-table-cell poi-details-cell' style='position:absolute;width:175px;max-width:180px;height:40px;padding:0;'>

                <a href="#" onclick="showPoiOptionsForMapPopup();" data-rel="popup" data-transition="slidedown" data-position-to="origin"
                   class='ui-btn ui-corner-all poi-table-cell-link sbs-navigate-btn'
                   style='text-align:left;padding:1px;line-height:0.8em;text-align:center;font-size:1.2em;'>

                    <div class='poi_placename' style='font-size:1em;line-height:1.1em;' itemscope='itemscope' itemtype='http://schema.org/LocalBusiness'><span itemprop='name' data-bind="text:poi.name" style='font-size:1em;'></span></div>
                    <div class='poi_details' style='font-size:0.6em;' data-bind="html:poi.description"></div>
                    <div class='poi_details' style='font-size:0.6em;text-align:center;' data-bind="html:distanceFromJunctionText"></div>
                    <img src='@RenderHelper.GetCDNUrl("/client/content/v1/icons/add_to_route.png")' class='poi-table-cell-go' style='height:40px;' alt='Add to route' />
                </a>
            </div><br />
            <div class='poi-table-cell poi-yelp-cell' style='position:absolute; top:50px;width:120px;height:40px;padding:0;'>
                <a href='#' data-bind="attr:{href:poi.yUrl}" class='ui-btn ui-corner-all poi-table-cell-link yelp-link' style='padding:1px;' target='_blank'>
                    <div style='float:left;margin-left:10px;'><img class='review-provider-icon' src='https://s3-media4.fl.yelpcdn.com/assets/srv0/developer_pages/7e704c57a423/assets/img/yelp_logo_75x38.png' alt='Yelp' /></div>
                    <div data-bind="visible: poi.isYInfoLoading" class="poi-yelp-loading" title="Yelp information loading..."></div>
                    <div data-bind="visible: !poi.isYInfoLoading()">
                        <div class='rating-small poi-rating' style='clear:none;top:7px;'>
                            <i data-bind="css:'star-img '+poi.yStarClass()"></i>
                        </div>
                    </div>
                    <div class="poi-rating-count" data-bind="html:poi.yReviewCountString"></div>
                </a>
            </div>
            <div class='poi-table-cell poi-phone-cell call-icon' style='position:absolute;top:50px;left:125px;width:50px;height:40px;padding:0;'>
                <a data-bind="attr:{href:'tel:'+poi.telPhoneString}" class='ui-btn ui-corner-all poi-table-cell-link yelp-link call_map_title' style='padding:1px;' target='_blank'>
                    <img style='height:40px;width:40px;' src='@RenderHelper.GetCDNUrl("/client/content/v1/icons/phone2.png")' class='poi-phone' alt='Call' />
                </a>
            </div>
        </div>
    </div>
</div>


