    <!-- filter dialog start-->

<div data-bind="{{filterDialogBind forJunction}}"
     data-role="popup"
     data-history="false"
     class="ui-content filter-dlg">
    <div data-role="header">
        <h2>Set filters</h2>
    </div>
    <div role="main" class="filter-content-main">
        <div class="containing-element">
            <div class="filter-scrollable-content">
                <label style="text-align:center">How far from exits would you like to see places? (miles)</label>
                <fieldset data-role="controlgroup" data-type="horizontal" style="float:none;text-align:center;">
                    <label><input type="checkbox" name="rddist" value="1" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs1" />1</label>
                    <label><input type="checkbox" name="rddist" value="2" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs2" />2</label>
                    <label><input type="checkbox" name="rddist" value="3" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs3" />3</label>
                    <label><input type="checkbox" name="rddist" value="4" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs4" />4</label>
                    <label><input type="checkbox" name="rddist" value="5" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs5" />5</label>
                </fieldset>

                <!-- ko foreach: filter.typeFiltersList -->
                <div class="filter-list">
                    <label>
                        <input class="ui-btn-inline" type="checkbox" data-bind="jqmchecked:isOn" />
                        <span style="display:inline-block;padding-top:10px;" data-bind="text:'Show '+categoryName"></span>

                        <div style="float:right;display:table">
                            <div style="display:table-row;font-size:1.5em">
                                <div class="sbs-color-accent" style="display:table-cell;padding-right:20px;font-weight:normal; text-align:center;"><span data-bind="text:filteredCount"></span></div>
                                <div class="sbs-color-accent" style="display:table-cell;font-weight:normal;text-align:center;"><span data-bind="text:filteredCountWithFeatures"></span></div>
                            </div>
                            <div style="display:table-row;font-size:0.5em;">
                                <div style="display:table-cell;padding-right:20px;text-align:center;">in range</div>
                                <div style="display:table-cell;text-align:center;">match</div>
                            </div>
                        </div>

                    </label>
                    <div data-bind="visible:isOn">
                        <div data-bind="visible:rootCategory.scf">
                            <label>
                                <a data-bind="click: categoryFilter.expand.bind(categoryFilter), visible:categoryFilter.isCollapsed, css:'ui-corner-all ui-btn-icon-left filter-prop-hideshow '+typeName+'-c-icon-w'" href="#" data-role="button">Filter categories</a>
                                <a data-bind="click: categoryFilter.collapse.bind(categoryFilter), visible:!categoryFilter.isCollapsed(), css:'ui-corner-all ui-btn-icon-left filter-prop-hideshow '+typeName+'-c-icon-w'" href="#" data-role="button">Hide categories</a>
                            </label>
                            <div data-bind="visible:!categoryFilter.isCollapsed()">
                                <div data-role="controlgroup" data-type="horizontal" style="float:none;text-align:center;">
                                    <a data-bind="click: categoryFilter.selectAll.bind(categoryFilter)" class="ui-corner-all" data-mini="true" href="#" data-role="button" data-inline="true">Select all</a>
                                    <a data-bind="click: categoryFilter.unselectAll.bind(categoryFilter)" class="ui-corner-all" data-mini="true" href="#" data-role="button" data-inline="true">Clear all</a>
                                </div>
                                <fieldset class="filter-value-list" data-bind="foreach: categoryFilter.valueList" data-role="controlgroup" data-type="horizontal">
                                    <input type="checkbox" data-bind="attr:{id:'{{cbid}}'+parentCategory.id+id.toString(), name:'{{cbid}}'+parentCategory.id+id.toString()},jqmchecked: isOn" data-mini="true">
                                    <label data-bind="attr:{for:'{{cbid}}'+parentCategory.id+id.toString()}">
                                        <span class="filter-list-value" data-bind="text:name"></span>
                                        <span style="float:right;" data-bind="text:count"></span>
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <!-- ko foreach: propertyList -->
                        <div>
                            <label>
                                <a data-bind="click: expand, html:'Filter '+name.toLowerCase(), visible:isCollapsed, css:'ui-corner-all filter-prop-hideshow '+filter.typeName+'-p-'+id+'-icon-w'"
                                   href="#" data-role="button"></a>
                                <a data-bind="click: collapse, html:'Hide '+name.toLowerCase(), visible:!isCollapsed(), css:'ui-corner-all filter-prop-hideshow '+filter.typeName+'-p-'+id+'-icon-w'"
                                   href="#" data-role="button"></a>
                            </label>
                            <div data-bind="visible:!isCollapsed()">
                                <div data-role="controlgroup" data-type="horizontal" style="float:none;text-align:center;">
                                    <a data-bind="click: selectAll, html:'Select all'" class="ui-corner-all" data-mini="true" href="#" data-role="button" data-inline="true"></a>
                                    <a data-bind="click: unselectAll, html:'Clear all'" class="ui-corner-all" data-mini="true" href="#" data-role="button" data-inline="true"></a>
                                </div>
                                <fieldset class="filter-value-list" data-bind="foreach:valueList" data-role="controlgroup" data-type="horizontal">
                                    <input type="checkbox" data-bind="attr:{id:'{{cbid}}'+parentCategory.id+id.toString(), name:'{{cbid}}'+parentCategory.id+id.toString()},jqmchecked: isOn" data-mini="true">
                                    <label data-bind="attr:{for:'{{cbid}}'+parentCategory.id+id.toString()}">
                                        <span class="filter-list-value" data-bind="text:name"></span>
                                        <span style="float:right;" data-bind="text:count"></span>
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <!--/ko-->
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="filter-ok-container">
                <a href="#" class="ui-btn ui-btn-inline ui-corner-all filter-apply-btn" data-rel="back">OK</a>
            </div>
        </div>
    </div>
</div>
<!-- filter dialog end-->
