    <!-- filter dialog start-->

<div data-bind="{{filterDialogBind forJunction}}"
     data-role="popup"
     data-history="false"
     class="ui-content filter-dlg">
    <div data-role="header">
        <h2>Set filters</h2>
    </div>
    <div role="main" class="filter-content-main">
        <div class="containing-element">
            <label style="text-align:center">How far from exits would you like to see places? (miles)</label>
            <fieldset  data-role="controlgroup" data-type="horizontal" style="float:none;text-align:center;">
                <label><input type="checkbox" name="rddist" value="1" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs1" />1</label>
                <label><input type="checkbox" name="rddist" value="2" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs2" />2</label>
                <label><input type="checkbox" name="rddist" value="3" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs3" />3</label>
                <label><input type="checkbox" name="rddist" value="4" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs4" />4</label>
                <label><input type="checkbox" name="rddist" value="5" data-bind="jqmchecked:filter.maxDistanceFromJunctionIs5" />5</label>
            </fieldset>

            <!-- ko foreach: filter.typeFiltersList -->
            <div class="filter-list">
                <label>
                    <input class="ui-btn-inline" type="checkbox" data-bind="jqmchecked:isOn" />
                    <span data-bind="text:'Show '+categoryName"></span>
                    <span style="float:right;" data-bind="text:filteredCount"></span>

                </label>
                <div data-bind="visibile:isOn">
                    <fieldset class="filter-value-list" data-bind="foreach: categoryFilter.valueList" data-role="controlgroup" data-type="horizontal">

                        <input type="checkbox" data-bind="attr:{id:'{{cbid}}'+parentCategory.id+id.toString(), name:'{{cbid}}'+parentCategory.id+id.toString()},jqmchecked: isOn" data-mini="true">
                        <label data-bind="attr:{for:'{{cbid}}'+parentCategory.id+id.toString()}">
                            <span class="filter-list-value" data-bind="text:name"></span>
                            <span style="float:right;" data-bind="text:count"></span>
                        </label>

                    </fieldset>
                </div>
            </div>
            <!-- /ko -->
            <!--
             <div data-bind="visible:filter.showRestaurants" id="restSelection" style="max-height:150px;overflow-y:scroll;padding:0 15px;  ">
                 <div data-role="controlgroup" data-type="horizontal" style="float:none;text-align:center;">
                     <a data-bind="click: filter.selectAllFoodCategories" class="ui-corner-all" data-mini="true" href="#" data-role="button" data-inline="true">All</a>
                     <a data-bind="click: filter.unselectAllFoodCategories" class="ui-corner-all" data-mini="true" href="#" data-role="button" data-inline="true">None</a>
                 </div>

                 <div data-bind="foreach: filter.foodCategoriesEnablement">
                     <div data-bind="visible:count() > 0">
                         <input type="checkbox" data-bind="attr:{id:'{{cbid}}'+category.sbsid, name:'{{cbid}}'+category.sbsid},jqmchecked: visible" data-mini="true">
                         <label data-bind="attr:{for:'{{cbid}}'+category.sbsid}">
                             <span data-bind="text:category.name"></span>
                             <span style="float:right;" data-bind="text:count"></span>
                         </label>
                     </div>
                 </div>


             </div>
                 -->
            <div style="margin:0 35px 0 0">
                <a href="#" class="ui-btn ui-btn-inline ui-corner-all filter-apply-btn" data-rel="back">OK</a>
            </div>
        </div>
    </div>
</div>
<!-- filter dialog end-->
