<div data-role="footer" data-position="fixed" class="jqm-footer" data-tap-toggle="false">
 {{#if renderLetsGoButton}}
  <div class="letsgo-outer">
         <!-- let's go button-->
         <div data-bind="if:(routePlan && routePlan.stops().length > 0)" class="letsgo-container">
             <a href="#" class="ui-btn ui-btn-inline ui-corner-all letsgo-button"
                data-bind="click:function(){routePlan.navigate();return false;}"
                data-rel="back">Let's go</a>
         </div>
     </div>
     {{/if}}
  
  
     <div style="position:absolute;top:3px;left:15px;">
      <a href="mailto:support@stopbystop.com?subject=StopByStop.com" target="_top">
            <img style="height:50px;" src='{{{getImageNoCDN "feedback.svg"}}}' />
       </a>
   </div>
   

    
    <div class="social_icons">
        <ul>
            <!--Facebook-->
            <li>
           
                <a data-bind="attr:{href:'https://www.facebook.com/sharer/sharer.php?u='+url()+'&amp;t='+title()}"
                   class="popup social-fb social-btn" target="_top">
                    <img src="{{{getImage "fb.png"}}}" alt="facebook">
                </a>
            </li>


            <!--google+-->
            <li>
              
                <a data-bind="attr:{href:'https://plus.google.com/share?url='+url()}"
                   class="popup social-gp social-btn" target="_top">
                    <img src="{{{getImage "google.png"}}}" alt="google+">
                   
                </a>
            </li>
            <!--linkdin-->
            <li>
                <a data-bind="attr:{href:'http://www.linkedin.com/shareArticle?mini=true&amp;url='+url()+'&amp;title='+title()}"
                   class="popup social-ln social-btn" target="_top">
                    <img src="{{{getImage "linkedin.png"}}}" alt="linkedin">
                </a>
            </li>
            <!--Twitter-->
            <li>
                <a data-bind="attr:{href:'https://twitter.com/intent/tweet?text='+url()}"
                   target="_top" class="popup social-tw social-btn">
                    <img src="{{{getImage "twitter.png"}}}" alt="twitter">
                    
                </a>
            </li>

        </ul>
    </div>
  
</div>