<div class="poi-table-row">
    <div class="poi-table-cell poi-details-cell">
        {{#if isMapPopup}}
        <a href="#" data-rel="popup" data-transition="slidedown" data-position-to="origin" class="ui-btn ui-corner-all poi-table-cell-link sbs-navigate-btn"
           style="text-align:left;" onclick="window.showPoiOptionsForMapPopup()" data-bind="attr:{'data-lat':poi.location.lat,'data-lon':poi.location.lon, 'data-sbsid':poi.id}">
            <div data-bind="css:'poi-typeicon poi-placename-type poi-placename-'+poiTypeString" itemscope="itemscope" itemtype="http://schema.org/LocalBusiness"></div>
            <div data-bind="css:'exit-type exit-'+poiTypeString">
                <div class="poi-placename">
                    <span itemprop="name" data-bind="text:poi.name"></span>
                </div>
                <div class="poi-details distance" data-bind="html:distanceFromJunctionText"></div>
                <div class="poi-table-cell-go">
                    <img src='{{{getImage "add_to_route.png"}}}' alt="Add to route" />
                </div>
            </div>
        </a>
        {{else}}
        <a href="#" data-rel="popup" data-transition="slidedown" data-position-to="origin" class="ui-btn ui-corner-all poi-table-cell-link sbs-navigate-btn"
           style="text-align:left;" data-bind="click:addToRouteOptionsClick, attr:{'data-lat':poi.location.lat,'data-lon':poi.location.lon, 'data-sbsid':poi.id}">
            <div data-bind="css:'poi-typeicon poi-placename-type poi-placename-'+poiTypeString" itemscope="itemscope" itemtype="http://schema.org/LocalBusiness"></div>
            <div data-bind="css:'exit-type exit-'+poiTypeString">
                <div class="poi-placename">
                    <span itemprop="name" data-bind="text:poi.name"></span>
                </div>
                
               
                <div class="poi-details" style="font-size:small;" data-bind="foreach: poi.categories">
                    <span class="poi-cat sbs-color-accent" data-bind="text: $data.n"></span>
                </div>
                
                  
                <div class="poi-details distance" data-bind="html:distanceFromJunctionText"></div>
                <div class="poi-table-cell-go">
                    <img src='{{{getImage "add_to_route.png"}}}' alt="Add to route" />
                </div>
            </div>
        </a>
        {{/if}}
    </div>
    <div class="poi-table-cell poi-yelp-cell">
        <a href="#" data-bind="attr:{href:poi.yUrl}, visible:poi.isYInfoVisible" onclick="{{linkClick}}" class="ui-btn ui-corner-all poi-table-cell-link yelp-link" target="_blank">
            <div>
                <img class="review-provider-icon" src="https://s3-media4.fl.yelpcdn.com/assets/srv0/developer_pages/7e704c57a423/assets/img/yelp_logo_75x38.png"
                     alt="Yelp" />
            </div>
            <div data-bind="visible: poi.isYInfoLoading" class="poi-yelp-loading" title="Yelp information loading..."></div>

            <div data-bind="visible: !poi.isYInfoLoading()">
                <div class="rating-small poi-rating">
                    <i data-bind="css:'star-img '+poi.yStarClass()"></i>
                </div>
                <div class="poi-rating-count" data-bind="html:poi.yReviewCountString"></div>
            </div>
        </a>
    </div>
    <div class="poi-table-cell poi-phone-cell call-icon">
        <a data-bind="attr:{href:'tel:'+poi.telPhoneString}" class="ui-btn ui-corner-all poi-table-cell-link yelp-link call_map_title" target="_blank">
            <img src='{{{getImage "phone2.png"}}}' class="poi-phone" alt="Call" />
        </a>
    </div>
    <!-- /poi-table-cell -->
</div>
